body,html
{
   padding: 0;
   margin: 0;
}
.header{
   background-image: url('images/header-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
   background-color: rgba(0, 0, 0, 0.8);
   max-height: 100vh;
}
.head-title{
   padding: 0.53%;
   color: white;
}
.head-title p{
   letter-spacing: 0.2rem;
}
.head-title-heading{
   font-weight: 600;
   font-size: 57px;
   line-height: 60px;
}
.head-title-button{
   color: white;
   background-color: red;
   border: none;
   padding: 1% 2%;
   margin-top: 3%;
   max-width: 18%;
}
.head-flex{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-block: 3%;
}
.head-foreground-img{
   margin-bottom: -6% !important;
}
.head-flex div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 55%;
}
.head-flex{
   padding-left: 12%;
}
.head-flex img{
   padding-right: 12%;
}
.navbar{
   width: 100%;
   padding: 0%;
}
.nav-layout
{
   display: flex;
   flex-direction: column;
   min-width: 100%;
}
.nav-bar-logo{
   width: 128px;
   height: 128px;
   left: 15%;
   position: absolute;
   top: 0%;
}
.nav-link{
   color: white !important;
   padding: 2.1% 0%;
}
#nav-active-tab
{
border-bottom: 4px solid red;

}
.navbar-menu{
   background-color: rgba(255,255,255, 0.3);
   color: white !important;
   min-width: 100%;
   justify-content: flex-end;
   align-items: center;
   padding: 0% 15%;
}
.nav-item{
   margin-right: 20px !important;
}
.contact-flex,.contact-sub-flex{
   display: flex;
   flex-direction: row;
}
.contact-flex {
   background-color: black;
   min-width: 100%;
   justify-content: space-between;
   padding: 0% 15%;
   padding-left: 24%;
   min-height: 50px;
   align-items: center;
}
.contact-red{
   color: red;
   padding-right: 15px;
}
.fa-twitter
{
   color: red;
}
.headCards .card-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.headCards .card-body p{
   max-width: 80%;
}
.headCards .card{
   background-color: transparent;
   border: none;
   color: white;
   min-height: 100%;
   min-width: 100%;
}
.headCards .card-img{
   min-height: 250px;
}
.family-law{
   background-image: url('images/family-law-bg.jpg');
}
.business-law{
   background-image: url('images/bussiness-law-bg.jpg');
}
.criminal-law{
   background-image: url('images/criminal-law-bg.jpg');
}
.real-estate-law{
   background-image: url('images/real-estate-law-bg.jpg');
}
.family-law,.business-law,.criminal-law,.real-estate-law{
   min-width: 100px;
   min-height: 100px;
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
}
.business-law,.real-estate-law{
   background-color: rgba(0, 0, 0, 0.5);
}
.red-plus-3x{
   color: red;
}
.playButton{
   position: absolute;
   top: 1285px;
   left: 520px;
   color: red;
   background-color: transparent;
   border: none;
}
.playButton:hover, .playButton:focus {
   outline: none;
   }
.whoWeAre{
   padding: 5% 15%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.intro,.video{
   max-width: 45%;
}
.intro{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.intro-buttons button
{
   background-color: white;
   border: 1px solid rgb(212, 205, 205);
   padding: 1% 2%;
   margin: 2%;
}
.intro-buttons .wifi{
padding-left: 1% !important;
}
.intro-buttons button i{
   color: red;
}
.intro-buttons .fa-instagram{
color: white;
}
.insta-red-bg{
   background-color: red !important;
}
.fa-rotate-45 {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
.into-head{
   margin-bottom: 20px;
}
.slick-prev{
   position: absolute;
   left: 96%;
   top: 43%;
   z-index: 1;
}
.slick-next{
   left: 2%;
}
.slick-next,.slick-prev{
   position: absolute;
   bottom: 50%;
   background-color: transparent;
   border:none;
   color: red;
}
.slick-prev:focus,.slick-prev:active,
.slick-next:focus,.slick-next:active{
   outline: none;
}
.practiceArea .card-body, .outPracticeAreas{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.practiceArea .card{
   border-radius: 0%;
   margin: 5% 3%;
   background-color: rgb(245, 246, 247);
}
.praciceareaRows{
   padding: 4% 10%;
   padding-top: 0%;
}
.outPracticeAreas{
   padding: 4% 10%;
}
.areas
{
   background-color: rgb(245, 246, 247);
}
.practiceArea img{
   width: 64px;
   height: 64px;
}
.outPracticeAreas p{
max-width: 63%;
text-align: center;
}
.civilCase{
   border: none;
   border-bottom: red 1px solid;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: rgb(246, 246, 246);
}
