body,html
{
   padding: 0;
   margin: 0;
   overflow: auto;
}
.header{
   background-image: url('images/header-bg.jpg');
   background-color: rgba(0, 0, 0, 0.8);
   max-height: 100vh;
}
.header,.family-law,.business-law,.criminal-law,.real-estate-law,.awards,.attorny_div,.testimoninals_div,.news_div .card-img-top
{
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
}
.head-title{
   padding: 0.53%;
   color: white;
}
.head-title p{
   letter-spacing: 0.2rem;
}
.head-title-heading{
   font-weight: 700;
   font-size: 42px;
   line-height: 50px;
}
.head-title-button{
   color: white;
   background-color: red;
   border: none;
   padding: 1% 2%;
   margin-top: 3%;
   max-width: 25%;
}
.head-flex,.news-signup{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.head-flex div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 55%;
}
.head-flex{
   padding-left: 12%;
}
.head-flex img{
   padding-right: 12%;
   /* margin-top: -1.3%; */
   height: 76.2vh !important;
}
.navbar{
   width: 100%;
   padding: 0%;
}
.nav-layout
{
   display: flex;
   flex-direction: column;
   min-width: 100%;
}
.nav-bar-logo{
   width: 115px;
   height: 115px;
   left: 15%;
   position: absolute;
   top: 0%;
}
.nav-link{
   color: white !important;
   padding: 2.1% 0%;
}
#nav-active-tab
{
border-bottom: 4px solid red;

}
.navbar-menu{
   background-color: rgba(255,255,255, 0.3);
   color: white !important;
   min-width: 100%;
   justify-content: flex-end;
   align-items: center;
   padding: 0% 15%;
}
.nav-item{
   margin-right: 4px !important;
   font-size: 14px;
}
.contact-flex,.contact-sub-flex{
   display: flex;
   flex-direction: row;
}
.contact-flex {
   background-color: black;
   min-width: 100%;
   justify-content: space-between;
   padding: 0% 15%;
   padding-left: 24%;
   min-height: 50px;
   align-items: center;
}
.contact-red{
   color: red;
   padding-right: 8px;
}
.nav-item i:hover
{
   color: red;
}
.headCards .card-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.headCards .card-body p{
   max-width: 80%;
}
.headCards .card{
   background-color: transparent;
   border: none;
   color: white;
   min-height: 100%;
   min-width: 100%;
}
.headCards .card-img{
   min-height: 250px;
}
.family-law{
   background-image: url('images/family-law-bg.jpg');
}
.business-law{
   background-image: url('images/bussiness-law-bg.jpg');
}
.criminal-law{
   background-image: url('images/criminal-law-bg.jpg');
}
.real-estate-law{
   background-image: url('images/real-estate-law-bg.jpg');
}
.family-law,.business-law,.criminal-law,.real-estate-law{
   min-width: 100px;
   min-height: 100px;
}
.business-law,.real-estate-law{
   background-color: rgba(0, 0, 0, 0.5);
}
.red-plus-3x{
   color: red;
}
#playVid{
   color: red;
   background-color: transparent;
   border: none;
}
#playVid:active, #playVid:focus {
   outline: none;
   }
.whoWeAre{
   padding: 5% 15%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 13px;
   align-items: center;
}
.intro,.video{
   max-width: 45%;
}
.intro{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.introText{
   margin-bottom: 7% ;
}
.intro-buttons button
{
   background-color: white;
   border: 1px solid rgb(212, 205, 205);
   padding: 1% 2%;
   margin: 2%;
}
.fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
}
.intro-buttons .wifi{
padding-left: 1% !important;
}
.intro-buttons button i{
   color: red;
}
.intro-buttons button:hover i{
color: white;
}
.intro-buttons button:hover{
   background-color: red !important;
}
.fa-rotate-45 {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
.into-head{
   margin-bottom: 5px;
}
.slick-next,.slick-prev{
   position: absolute;
   background-color: transparent;
   border:none;
   min-width: 100px;
   color: red;
}
.slick-next{
   left: 1%;
   bottom: 47%;
}
.slick-prev{
   left: 90%;
   top: 2%;
   z-index: 1;
}
.slick-next:focus,.slick-next:active,
.slick-prev:focus,.slick-next:active
{
   outline: none;
}
.headCards h2{
   font-size: 23px;
}
.headCards p{
   font-size: 13px;
}
.practiceArea .card-body, .outPracticeAreas{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.practiceArea .card{
   border-radius: 0%;
   min-height: 90%;
   margin: 5% 3%;
   background-color: rgb(245, 246, 247);

}
.practiceArea h2{
   font-size: 20px;
}
.outPracticeAreas h2{
   font-weight: 700;
   font-size: 25px;
}
.practiceArea p{
   margin: 1% !important;
   font-size: 12px;
}
.praciceareaRows{
   padding: 11%;
   padding-top: 0%;
}
.outPracticeAreas{
   padding: 6%;
   padding-bottom:3%;
}
.areas
{
   background-color: rgb(245, 246, 247);
}
.practiceArea img{
   width: 64px;
   height: 64px;
   margin-bottom: 4%;
}
.outPracticeAreas p{
   max-width: 50%;
   text-align: center;
   font-size: 14px;
}
.practiceArea .card:hover{
   border: none;
   border-bottom: red 2px solid;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: rgb(246, 246, 246);
}
.awards{
   background-image: url('images/awards-bg.jpg');
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   flex-direction: row;
   color: white;
   justify-content: space-around;
   padding: 5% 11%;
   font-weight: 500;
   text-align: center;
}
.stat p{
   font-size: 15px;
   margin: 5px;
}
.numbers{
   line-height: 30px;
   font-size: 39px !important;
   font-weight: 700 !important;
}
.awards-img{
   width: 64px;
   height: 64px;
}
.attorney{
   display: flex;
   flex-direction: row-reverse;
   padding-bottom: 4%;
}
.attorny_div
{
   width: 20%;
   height: 340px;
   background-size: 100% 100%;
}
.img2{
   background-image: url('images/manprofile1.png');
}
.img5{
   background-image: url('images/manprofile.jpg');
}
.img1{
   background-image: url('images/womenprofile.png');
}
.img3{
   background-image: url('images/womenprofile1.png');
}
.img4{
   background-image: url('images/womenprofile2.png');
}
.attorny_div:hover
{
   background-color: rgba(0, 0, 0, 0.8);
   background-blend-mode: darken;
}
.attr_text{
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   text-align: center;
   display: none;
   border-bottom: 2px solid red;
}

.attr_text h2{
   font-size: 25px;
   margin-block: 25px;
}
.attr_text p{
   font-size: 12px;
   margin-bottom: 25px;
}
.attorny_div:hover .attr_text{
   display: flex;
}
.attorny-buttons i{
   padding-right: 4%;
}
.attorny-buttons{
   width: 100%;
}
.consult_form form
{
   display: flex;
   flex-direction: column;
}
.consult_form{
   min-width: 33%;
   padding: 1% 3%;
   text-align: center;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.formImg img{
   width: 100%;
}
.formSection{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.inputs
{
   margin-block: 1%;
   padding: 3%;
   width: 100%;
   border: 1px solid gainsboro;
}
.inputs:focus,.inputs:active
{
   outline: 1px inset red;
   border: none;
}
.send-btn{
   color: white;
   background-color: red;
   border: none;
   padding: 3%;
   margin-block: 7%;
}
.formSection h2{
   font-size: 20px;
   padding-block:5%;
}
.formImg{
   width: 35%;
}
.formImg img{
   min-height: 100%;
   width: 100%;
   margin-left: 5%;
}
.testimonial{
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.testimonial p{
   max-width: 45%;
   font-size: 15px;
}
.testimoninals_div{
   text-align: center;
   background-image: url('images/attest-bg.jpg');
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   padding: 4%;
}
.testimoninals_div h2{
   font-size: 33px;
   margin-block: 2.5%;
}
.testimoninals_div h3{
   font-size: 20px;
}
.testimoninals_div{
   margin-top: 7%;
}
.news_div{
  background-color: white !important;
  text-align: center;
  padding: 0% 6%;
}
.news_div .card h2{
   font-size: 15px;
}
.news_date {
   color: rgb(197, 190, 190);
}
.news_date .fa-clock-o{
   margin-right: 5px;
   font-size: 15px;
}
.news_div .card-body{
padding: 4%;
}
.news_div .card{
   margin-right: 9%;
   border: 1px solid rgb(224, 223, 223);
   border-radius: 0;
}
.news_div .card-img-top{
   border-radius: 0;
  background-image: url('images/attest-bg.jpg');
min-height: 120px;
}
.news_div .card-img-top i{
   display: none;
}
.news_div .card:hover .card-img-top i{
   display: flex;
}
.news_div .card:hover .card-img-top{
   border:  none !important;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   background-color: rgba(0, 0, 0, 0.8);
}
.news_div .card:hover{
border-bottom: 2px solid red;
}
.img-text{
   position: absolute;
   top: 20%;
   left: 45%;
}
.news-signup{
   justify-content: space-around;
   background-color: red;
   padding-block: 2%;
   color: white;
}
.news-signup input{
   border: none;
   border-bottom: 1px solid white;
   background-color: transparent;
   width: 68%;
   margin-right: 4%;
   padding-top: 2%;
}
.news-signup input:active, .news-signup input:focus{
   outline: none;
   border-top: none;
   border-left: none;
   border-right: none;
}
.news-signup input::placeholder{
   color: white;
}
.news-btn{
   border: none;
   padding: 1%;
}
.news-signup .email{
   min-width: 35%;
}
.footer{
   display: flex;
   flex-direction: row;
   color: white;
   background-color: rgb(20, 19, 19);
   padding: 5% 7%;
}
.copyright{
   text-align: center;
   color: white;
   background-color: rgb(17, 17, 17);
   padding: 1.5%;
}
.laws-list ul {
  list-style-type: none;
  padding-left: 0%;
  padding-top: 9%;
}
.address{
  margin-top: 20%;
}
.laws-list ul li::before {
  content: ">";
  font-size: 10px;
  margin-right: 5px;
  margin-top: 3px;
}
.laws-list ul li{

  padding-block: 5% !important;
}
.foot-logo{
   width: 70px;
   height: 70px;
}
.foot-col .para{
   max-width: 265px;
   margin-block: 10%;
}
.foot-connect-btn button{
   background-color: transparent;
}
.foot-connect-btn i{
   color: white !important;
}
.projects{
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px;
row-gap: 10px;
column-gap: 10px;
}
.projects img{
   width: 100%;
   height: 100%;
}
.foot-flex{
   display: flex;
   flex-direction: row;
   max-height: 45px;
   min-width: 45px;
   margin-bottom: 7%;
}
.foot-flex i{
   border: 1px solid white;
   padding: 4%;
}
.foot-col{
   max-width: 25%;
   margin-right: 2%;
}
.footer h3{
   font-size: 20px;
   margin-bottom: 15%;
}
.project-col{
   min-width: 30% !important;
}
.foot-icon{
   margin-right: 5% !important;
}
.intro-foot {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.video { position:relative; }
.video video {
    position:relative;
    z-index:0;
}
#playVid {
    position:absolute;
    top:45%;
    left:45%;
    z-index:1;
}
#panim
{
   animation-duration: 2s;
}
#panimRright{
   animation-duration: 1s;
}
/* RESPONSIVE NESS CORRECTION */
.navbar-toggler:active,.navbar-toggler:focus{
   outline: red !important;
}
.navbar-toggler-icon{
   color: red !important;
}
@media (max-width:1024px ) {
   .nav-bar-logo{
      height: 50px;
      width: 50px;
      left: 20%;
    }
.navbar-toggler{
   border-color: red !important;
   color: red !important;
   margin-top: 0%;
   margin-left:75%;
}
.navbar-light  .navbar-toggler-icon{
   background-image: url('images/logo-lines.png')
}
.nav-item{
   margin-right: 20px !important;
}
.header{
     max-height: 148.6vh;
}
.head-title-heading{
font-weight: 500;
font-size: 25px;
line-height: 29px;
}
.contact-red{
   padding-right: 2px;
}
.head-title p{
   font-size: 13px;
letter-spacing: 0.1rem;
}
.head-title{
   padding: 0%;
}
.head-title-button{
   font-size: xx-small;
   padding: 1%;
   max-width: 20%;
}
.headCards .card{
   min-height: 200px;
}
.whoWeAre{
   flex-direction: column-reverse;
   padding: 5%;
}
#video1
{
   width: 420px !important;
}
.awards{
   flex-direction: column;
}
.stat{
   padding-block: 4%;
}
.numbers{
   font-size: 20px;
}
.awards-img{
   width: 50px;
   height: 50px;
}
.attorney{
   flex-direction: column;
   align-items: center;
}
.attorny_div{
   width: 30%;
   margin: 4%;
}
.attr_text p{
   padding: 10%;
}
.formSection{
   flex-direction: column;
}
.consult_form{
   margin: 5%;
}
.formImg{
   width: 90%;
   margin: auto;
}
.formImg img{
   margin-left: 0%;
}
.news_div .card{
   margin-block: 2%;
}
.imgCon{
   min-height: 220px !important;
}
.news-signup
{
   flex-direction: column;
   text-align: center;
}
.footer{
   flex-direction: column;
}
.foot-col{
   max-width: 90%;
}
.footer h3{
   margin-bottom: 1%;
}
.laws-list ul{
   padding-top: 1%;
}
.laws-list ul li{
   padding-block: 1% !important;
}
.laws-list,
.projects
{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.project-col h3,.laws-list h3,.contact-foot h3{
   text-align: center;
   margin-block: 3%;
}
.projects img{
   width: 30%;
   height: 30%;
}
.address{
   margin-block: 3%;
}
.foot-mail{
   margin-bottom: 3%;
}
.foot-flex i{
   padding: 2% 3%;
}
}
@media (max-width:768px) {
      .headCards .card{
      min-height: 200px !important;
   }
   .header{
      max-height: 150vh;
   }
   .headCards .card{
      min-height: 100px;
   }
   .stat{
      padding-block: 6%;
   }
   .attorny_div{
      width: 40%;
   }
   .imgCon{
      min-height: 130px !important;
   }
   .foot-flex i{
      padding: 2%;
      padding-top: 3%;
   }
}
@media(max-width:375px)
{
   .head-flex{
      flex-direction: column !important;
   }
   .head-flex div{
      margin-block: 10% !important;
   }
   .head-title-button{
      min-width: 50%;
   }
   .head-title-heading
   {
      font-size: 20px;
   }
   .headCards .card{
      min-height: 200px;
   }
   #playVid {
      top:25%;
      left:25%;
  }
   #video1
   {
      width: 120px !important;
      height: 100px !important;
   }
   .video{
   left:  0% !important;
   }
   .intro-buttons{
      display: flex;
      flex-direction: column;
   }
   .slick-prev
   {
      left: 70% !important;
      top: 35% !important;
   }
   .news-signup input{
      width: 60%;
   }
   .foot-flex i{
      padding-top: 5%;
   }
}
@media(max-width:426px) and (min-width:376px)
{
   .head-flex{
      flex-direction: column !important;
   }
   .head-flex div{
      margin-block: 10% !important;
   }
   .head-title-button{
      min-width: 50%;
   }
   .head-title-heading
   {
      font-size: 20px;
   }
   .headCards .card{
      min-height: 200px;
   }
   .slick-prev
   {
      left: 70% !important;
      top: 30% !important;
   }
   #video1
   {
      width: 210px !important;
   }
}
